--icon-success: var(--light-green-primary);
--icon-warning: var(--colors-dos-bright);
--bg-danger: var(--light-red-900);
--bg-danger-hover: var(--light-red-1000);
--bg-danger-active: var(--light-red-1100);
--bg-danger-subtlest: var(--light-red-1400);
--text-brand: var(--colors-dos-yellow);
--bg-brand-subtlest: var(--light-orange-1400);
--bg-surface-sunken: var(--dark-gray-50);
--border-subtle: var(--colors-dos-dim);
--icon-disabled: var(--light-gray-600);
--text-disabled: var(--light-gray-400);
--text-subtle: var(--colors-system-link-dim);
--text-bold: var(--colors-dos-yellow);
--icon-bold: var(--colors-dos-yellow);
--text-inverse: var(--colors-dos-black);
--icon-inverse: var(--colors-dos-black);
--icon-subtle: var(--colors-system-link-dim);
--bg-surface: var(--colors-system-background);
--bg-neutral-disabled: var(--dark-neutral-200);
--icon-brand: var(--light-blue-900);
--bg-brand: var(--light-blue-900);
--bg-brand-hover: var(--colors-system-link-hover);
--bg-brand-active: var(--colors-dos-dim);
--border-brand: var(--light-blue-900);
--text-danger: var(--light-red-primary);
--icon-danger: var(--light-red-primary);
--border-danger: var(--light-red-900);
--bg-gray-bold: var(--light-gray-800);
--text-success: var(--light-green-primary);
--bg-success: var(--light-green-primary);
--bg-success-hover: var(--light-green-primary-glow);
--bg-success-active: var(--light-green-primary);
--border-success: var(--light-green-primary);
--bg-success-subtlest: var(--light-green-1400);
--text-warning: var(--colors-system-link-hover);
--bg-warning: var(--light-orange-900);
--bg-warning-hover: var(--light-orange-1000);
--bg-warning-active: var(--light-orange-1100);
--border-warning: var(--light-orange-900);
--bg-warning-subtlest: var(--light-orange-1400);
--border-inverse: var(--light-gray-50);
--text-inverse-subtle: var(--light-gray-400);
--icon-inverse-subtle: var(--light-gray-400);
--bg-neutral-hover: var(--dark-neutral-100);
--bg-neutral-active: var(--dark-neutral-200);
--bg-gray-bold-hover: var(--light-gray-700);
--bg-gray-bold-active: var(--light-gray-600);
--bg-neutral: var(--dark-neutral-10);
--border-accent-blue: var(--light-blue-900);
--border-accent-purple: var(--light-purple-900);
--border-accent-green: var(--light-green-primary);
--border-accent-orange: var(--light-orange-900);
--border-accent-red: var(--light-red-900);
--bg-gray-subtle: var(--dark-gray-75);
--bg-gray-subtle-hover: var(--dark-gray-100);
--bg-gray-subtle-active: var(--dark-gray-200);
--bg-surface-raised: var(--light-gray-800);
--bg-surface-bold: var(--light-gray-800);
--bg-gray-subtler: var(--dark-gray-50);
--bg-gray-subtler-hover: var(--dark-gray-75);
--bg-gray-subtler-active: var(--dark-gray-100);
--bg-info: var(--light-blue-900);
--bg-info-hover: var(--light-blue-1000);
--bg-info-active: var(--light-blue-1100);
--bg-info-subtlest: var(--light-blue-1400);
--icon-info: var(--icon-link);
--border-info: var(--light-blue-900);
--text-info: var(--light-blue-900);
--bg-accent-purple-subtlest: var(--light-purple-100);
--bg-accent-green-subtlest: var(--light-green-100);
--bg-accent-red-subtlest: var(--light-red-100);
--text-accent-purple: var(--light-purple-600);
--text-accent-green: var(--light-green-primary);
--text-accent-orange: var(--light-orange-600);
--text-accent-red: var(--light-red-600);
--icon-accent-purple: var(--light-purple-600);
--icon-accent-green: var(--light-green-primary);
--icon-accent-orange: var(--light-orange-600);
--icon-accent-red: var(--light-red-600);
--bg-accent-purple: var(--light-purple-600);
--bg-accent-green: var(--light-green-600);
--bg-accent-red: var(--light-red-600);
--bg-surface-overlay: var(--dark-gray-75);
--border-bold: var(--light-gray-800);
--icon-link: var(--text-link);
--icon-link-hover: var(--text-link-hover);
--icon-link-active: var(--light-blue-1100);
--border-link: var(--light-blue-900);
--border-link-hover: var(--light-blue-1000);
--border-link-active: var(--light-blue-1100);
--text-link: var(--colors-system-link-default);
--text-link-hover: var(--colors-system-link-hover);
--text-link-active: var(--colors-system-link-dim);
--bg-neutral-selected: var(--dark-neutral-100);
--bg-neutral-inverse: var(--light-neutral-10);
--bg-neutral-inverse-hover: var(--light-neutral-100);
--bg-neutral-inverse-active: var(--light-neutral-200);
--bg-neutral-inverse-selected: var(--light-neutral-100);
--bg-neutral-inverted-disabled: var(--light-neutral-200);
--icon-subtle-hover: var(--light-gray-700);
--bg-accent-orange: var(--light-orange-600);
--bg-orange-subtlest: var(--light-orange-100);
--icon-subtle-active: var(--light-gray-800);
--icon-inverse-subtle-hover: var(--light-gray-500);
--icon-inverse-subtle-active: var(--light-gray-600);
--bg-input: var(--colors-dos-black);
--bg-input-hover: var(--colors-dos-black);
--border-focus: var(--light-blue-600);
--bg-surface-bold-brand: var(--light-blue-900);
--bg-accent-blue: var(--light-blue-600);
--bg-accent-blue-subtlest: var(--light-blue-100);
--icon-accent-blue: var(--light-blue-600);
