--corner-m: 8px;
--corner-s: 4px;
--corner-round: 100px;
--corner-ring: 12px;
--space-xxxs: 2px;
--space-xxs: 4px;
--space-xs: 8px;
--space-m: 16px;
--space-l: 24px;
--space-xl: 32px;
--space-xxl: 40px;
--corner-l: 16px;
--space-negative-m: -16px;
--space-negative-s: -8px;
--space-s: 12px;
--corner-none: 0px;
