--heading-size-xl: var(--size-mobile-900);
--heading-weight-strong: var(--weight-bold);
--heading-size-l: var(--size-mobile-600);
--heading-size-m: var(--size-mobile-400);
--heading-size-s: var(--size-mobile-200);
--body-weight-regular: var(--weight-regular);
--body-size-l: var(--size-mobile-300);
--body-size-m: var(--size-mobile-200);
--body-size-s: var(--size-mobile-100);
--body-size-xs: var(--size-mobile-75);
--body-weight-strong: var(--weight-semibold);
--code-weight-regular: var(--weight-regular);
--code-size-l: var(--size-mobile-300);
--code-size-m: var(--size-mobile-200);
--code-size-s: var(--size-mobile-100);
--label-weight-strong: var(--weight-semibold);
--label-size-l: var(--size-mobile-300);
--label-size-m: var(--size-mobile-200);
--label-size-s: var(--size-mobile-100);
--label-size-xs: var(--size-mobile-75);
--link-weight-strong: var(--weight-semibold);
--link-size-l: var(--size-mobile-300);
--link-size-m: var(--size-mobile-200);
--link-size-s: var(--size-mobile-100);
--link-size-xs: var(--size-mobile-75);
--input-weight-regular: var(--weight-regular);
--input-size-l: var(--size-mobile-300);
--input-size-m: var(--size-mobile-200);
--input-size-s: var(--size-mobile-100);
