--size-desktop-100: 14px;
--size-desktop-200: 16px;
--size-desktop-300: 18px;
--size-desktop-400: 20px;
--size-desktop-500: 22px;
--size-desktop-600: 25px;
--size-desktop-700: 28px;
--size-desktop-800: 32px;
--size-desktop-900: 36px;
--size-desktop-1000: 40px;
--size-desktop-75: 12px;
--size-desktop-50: 11px;
--size-desktop-1100: 45px;
--size-desktop-1200: 50px;
--size-desktop-1300: 60px;
--weight-regular: var(--typography-weights-regular);
--weight-semibold: 600px;
--weight-bold: var(--typography-weights-bold);
--size-mobile-50: 13px;
--size-mobile-75: 15px;
--size-mobile-100: 17px;
--size-mobile-200: 19px;
--size-mobile-300: 22px;
--size-mobile-400: 24px;
--size-mobile-500: 27px;
--size-mobile-600: 31px;
--size-mobile-700: 34px;
--size-mobile-800: 39px;
--size-mobile-900: 44px;
--size-mobile-1000: 49px;
--size-mobile-1100: 55px;
--size-mobile-1200: 62px;
--size-mobile-1300: 70px;
