.accordion-fill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-xxs);
  font-family: var(--typography-fonts-dos), var(--typography-fonts-fallback);
  font-size: var(--typography-sizes-base);
  color: var(--color-system-foreground);
} 